.home {
    background: var(--bg-color);

    & .home__container {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        position: relative;

        & .home__container-texts {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;
            color: var(--text-primary-color);

            & .home__container-title {
                font-weight: 700;
                font-size: 3.7rem;
                margin-bottom: 0.5rem;

                & span {
                    background: linear-gradient(
                        to right,
                        var(--primary-color),
                        var(--secondary-color)
                    );
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            & .home__container-subtitle {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: var(--text-primary-color);
                margin-bottom: 1.5rem;

                & span {
                    font-size: 1.5rem;
                    display: flex;
                    font-weight: 700;
                    opacity: 0.3;
                }

                & h2 {
                    font-size: 2.5rem;
                    font-weight: 700;
                    font-style: italic;
                }
            }

            & .home__container-buttons {
                display: flex;
                gap: 1rem;

                & .home__container-btn {
                    text-decoration: none;
                    font-size: 1rem;
                    padding: 0.7rem 1.2rem;
                    border-radius: 0.5rem;
                    font-weight: 600;
                    border: 2px solid var(--text-primary-color);
                    color: var(--text-primary-color);
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    transition: all 0.1s;
                    color: var(--bg-color);
                    background-color: var(--text-primary-color);
                }

                & .home__container-btn:hover {
                    background-color: var(--hover-color);
                    border-color: var(--hover-color);
                }
            }
        }

        & .home__container-arrow {
            position: absolute;
            bottom: 1rem;
            font-size: 2rem;
            color: var(--text-primary-color);
            animation: 0.7s ease-in-out infinite alternate arrow-animation;
        }
    }
}

@keyframes arrow-animation {
    from {
        bottom: 2rem;
    }

    to {
        bottom: 1rem;
    }
}

@media (width < 996px) and (width >= 592px) {
    .home .home__container .home__container-texts .home__container-title {
        font-size: 3rem;
        text-wrap: balance;
    }

    .home .home__container .home__container-texts .home__container-subtitle h2 {
        font-size: 1.9rem;
    }
}

@media (width < 592px) {
    .home .home__container .home__container-texts .home__container-title {
        font-size: 2.5rem;
        text-wrap: balance;
    }

    .home .home__container .home__container-texts .home__container-subtitle h2 {
        font-size: 1.5rem;
    }

    .home__container-buttons {
        flex-direction: column;
    }
    .home__container-buttons .home__container-btn {
        justify-content: center;
    }
}
