.header__nav-socials {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    & a {
        text-decoration: none;
        color: var(--text-primary-color);
        font-size: 1.2rem;
        display: flex;
    }

    & a:hover {
        color: var(--hover-color);
    }
}

@media (width < 592px) {
    .header__nav-socials {
        gap: 1rem;
    }
}
